.profile {
    display: flex;
    width: 68.75vw;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 949px){
    .profile {
        width: 282px;
        min-height: 286px;
        margin-top: 42px;
        flex-direction: column;
    }
    
}