.popup__button-close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-size: 32px;
    background-image: url(../../../images/button-close.svg);
    background-repeat: no-repeat;
    object-fit: scale-down;
    border: none;
    cursor: pointer;
    transition: opacity .5s;
    padding: 0;
    align-self: flex-end;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px){
    .popup__button-close {
        width: 20px;
        height: 20px;
        background-size: 20px;
        right: 0;
        top: -36px;
    }
}